---
command_servers:
    server1:
        ip: {{vm_ip}}
        connection: ssh
        ssh_user: root
        ssh_pass: c0ntrail123
        sudo_pass: c0ntrail123
        ntpserver: {{ntp_server}}
{% if registry == 'nodei40'%}
        registry_insecure: true
        container_registry: nodei40.englab.juniper.net:5000
{% elif registry == 'hub'%}
        registry_insecure: false
        container_registry: hub.juniper.net/contrail-nightly
        container_registry_username: JNPR-Customer200
        container_registry_password: FSg0vLW^7oM#GZy8Ju*f
{% elif registry == 'cirepo' %}
        container_registry: ci-repo.englab.juniper.net:5010
        registry_insecure: true
{% elif registry == 'svl-artifactory' %}
        container_registry: svl-artifactory.juniper.net/contrail-nightly
        registry_insecure: true
{% else %}
        container_registry: bng-artifactory.juniper.net/contrail-nightly
        registry_insecure: true
{% endif %}
        container_name: contrail-command
        container_tag: {{contrail_version}}
        config_dir: /etc/contrail

        contrail_config:
            database:
                type: postgres
                dialect: postgres
                password: contrail123
            keystone:
                assignment:
                    data:
                        users:
                            admin:
                                password: contrail123
            insecure: true
            auth_type: basic-auth
            client:
                password: contrail123