---
- name: Provision headless dev vm
  hosts: all
  gather_facts: no
  become: True
  roles:
    - setup_root
    - base_pkgs
    - dev_pkgs
    - devenv
  vars:
    set_root_pass: 'contrail'
    branch: 'master'
