global_configuration:
{% if registry == 'nodei40'%}
  CONTAINER_REGISTRY: nodei40.englab.juniper.net:5000
  REGISTRY_PRIVATE_INSECURE: True
{% elif registry == 'hub'%}
  CONTAINER_REGISTRY: hub.juniper.net/contrail-nightly
  REGISTRY_PRIVATE_INSECURE: False
  CONTAINER_REGISTRY_USERNAME: JNPR-Customer200
  CONTAINER_REGISTRY_PASSWORD: FSg0vLW^7oM#GZy8Ju*f
{% elif registry == 'cirepo' %}
  CONTAINER_REGISTRY: ci-repo.englab.juniper.net:5010
  REGISTRY_PRIVATE_INSECURE: True
{% elif registry == 'svl-artifactory' %}
  CONTAINER_REGISTRY: svl-artifactory.juniper.net/contrail-nightly
  REGISTRY_PRIVATE_INSECURE: True
{% else %}
  CONTAINER_REGISTRY: bng-artifactory.juniper.net/contrail-nightly
  REGISTRY_PRIVATE_INSECURE: True
{% endif %}
{% set controller_mip = [] %}
{% set controller_cdip = [] %}
{{ controller_mip.append(primary.mip) }}
{{ controller_cdip.append(primary.ip) }}
provider_config:
  bms:
    ssh_user: root
    ssh_pwd: c0ntrail123
    ntpserver: ntp.juniper.net
    domainsuffix: local
instances:
  {{ primary.host }}:
    ip: {{ primary.mip }}
    provider: bms
    roles:
      #config_database:
      #config:
      #control:
      #analytics_database:
      #analytics:
      #webui:
      k8s_master:
      kubemanager:
{% for i in range(dpdk_computes, computes|length) %}
  {{ computes[i].host }}:
    ip: {{ computes[i].mip }}
    provider: bms
    roles:
      k8s_node:
      #vrouter:
        #PHYSICAL_INTERFACE: eth2
{% endfor %}
contrail_configuration:
  KUBERNETES_PUBLIC_FIP_POOL: {'project': 'k8s-default', 'domain': 'default-domain', 'name': '__fip_pool_public__', 'network': '__public__'}
  LOG_LEVEL: SYS_DEBUG
  CONTRAIL_VERSION: {{ contrail_version }}
  CLOUD_ORCHESTRATOR: kubernetes
  RABBITMQ_NODE_PORT: 5673
  CONTROLLER_NODES: {{ controller_mip|join(',') }}
  CONTROL_NODES: {{ controller_cdip|join(',') }}
  VROUTER_GATEWAY: {{ ctrl_data_gateway }}
  KUBERNETES_API_NODES: {{ primary.mip }}
  KUBERNETES_API_SERVER: {{ primary.mip }}
