---
- name: Populate config/command_servers.yaml
  template:
    src: command_servers.j2
    dest: "{{ vagrant_root }}/config/command_servers.yml"
  delegate_to: localhost

- name: Export statements to myvars.sh
  template:
    src: myvars.j2
    dest: "/etc/profile.d/myvars.sh"

- name: Copy command servers file
  copy:
    src: "{{ vagrant_root }}/config/command_servers.yml"
    dest: "/tmp/command_servers.yml"

- name: Copy instances file
  copy:
    src: "{{ vagrant_root }}/config/instances.yaml"
    dest: "/tmp/instances.yml"

